body {
  text-align: center;
  color: white !important;
  background-color: #343639;
  max-width: 100%;
  max-height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.title{
  padding: 25px;
}

Label{
  color: white !important;
}

#date{
  color: white
}

.table{
  max-width: 100%;
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
  background-color: #262c2e;
  color: white;
}

.table > thead > tr > th, label{
  vertical-align: middle;
  outline: none;
  line-height: 1.3125rem;
  color: #BE0D00;
  font-size: 1.25rem;
  font-weight: 500;
}

label{
  padding-top: 10px;
  display: block;
}

.form-control{
  font-size: 1.25rem;
  font-weight: 500;
}

.table > thead > tr > th:first-child{
  padding: 10px;
}

tr{
  display: table-row;
  outline: none;
  vertical-align: middle;
}

.table > tbody > tr > td{
  display: table-cell;
  padding: 14px 40px 14px 16px;
  text-align: left;
  line-height: 1.43;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
